@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('https://cdn0-production-images-kly.akamaized.net/83eNIr6NoNALbf0ukgz4tBEz1ko=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3386715/original/094552600_1614241094-Double_Tree_Jakarta.jpg'); background-repeat: no-repeat; background-size: cover; ">
    <h1>
        <font color="white">Booking.co</font><br>
    </h1>
    <p>
    <font color="white">Website Pencatatan Reservasi Hotel </font><br>
    </p>
    <p>
    <font color="white">Hallo Admin.....</font><br>

    </p>
    <font color="white">Silahkan klik tombol reservasi di bawah</font><br>
    <font color="white">ini untuk menambahkan data reservasi</font><br>
    <br>
    <br>

    <p><a href="https://localhost:44359/ReservasiClasses/Create" class="btn btn-primary btn-lg">Reservasi &raquo;</a></p>
</div>

<div class="row mt-4">
    <h2 class="text-center">Hotel Emersia</h2>
</div>
<div class="row mt-2" >
    <div class="col-md-4">
        <img width="350" src="https://www.dictio.id/uploads/db3342/original/2X/6/62f3957075de5b52bd0631a5a05ef1de535a0783.jpg"/>
        <p><a class="btn btn-default">Swimming Pool </a></p>
    </div>
    <div class="col-md-4">
        <img width="350" src="https://3.bp.blogspot.com/-1pVT-ofMfPM/WR1MspqxrcI/AAAAAAAACLc/0Y1spUnO6YYxaJpKt0WQxLyp2_e0bPdngCLcB/s1600/15588781.jpg" />
        <p><a class="btn btn-default">Room Hotel </a></p>
    </div>
    <div class="col-md-4">
        <img width="350" src="https://www.themilliardaire.co/wp-content/uploads/2015/07/Subsix-Per-Aquum-Niyama-1-1024x683.jpg" />
        <p><a class="btn btn-default">Lounge Hotel </a></p>
    </div>
</div>